body{
    margin:0;
    font-family: Raleway, sans-serif;
    z-index: 0;
    max-width: 1920px;
}

h1{
    color: white;
}
h2{
    font-size: 2rem;
}

header{
    background-color: #082029;
    height:10vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}
header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding:10px;
}



main{
    background-color: #05171e;
    text-align: center;
    min-height:calc(100vh - 10vh - 10vh);
    padding:10px;
    color: white;
    display: flex;
    flex-direction: column;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin:10px;
    object-position: center;
    object-fit: cover;
}
.goat-pics:hover{
    padding:0;
    transition: transform 0.5s;
    transform: scale(1.2);
    box-shadow: white 0px 1px 10px;
    cursor: pointer;
}




footer{
    background-color: #082029;
    display: flex;
    align-items: center;
    justify-content: center;
    height:10vh;
    color: white;
    position:fixed;
    bottom:0;
    width: 100%;
    max-width: 1920px;
}

.brand-img{
    width: 150px;
    height: 80px;
    border-radius: 50%;
    padding:10px;
}
.no-profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding:10px;
}
.design-by{
    display: flex;
}



.d_none{
    display: none;
}

.overlay{
    width:320px;
    height: 580px;
    border-radius: 10px;
    background-color: #082029;
    color:white;
    font-size: 2rem;
    z-index: 1;
}
.overlay img{
    width: 300px;
    height: 330px;
    border-radius: 15px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons img{
    width: 50px;
    height: 50px;
}
.buttons img:hover{    
    cursor: pointer;
}
.close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    height: max-content;
}
.close img{
    width: 30px;
    height: 30px;
}
.close img:hover{
    box-shadow: white 0px 1px 10px;
    cursor: pointer;
}

@media (max-width:700px) {
     main img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width:400px) {
    h2{
        font-size: 1.1rem;
    }
    main img{
        width: 80px;
        height: 80px;
    } 
     #content{
        width: 220px;
        height: 500px; 
        /* display: flex;
        flex-direction: column;
        align-items: center; */ */
        font-size: 1.7rem;
    }
    .overlay img{
        width: 200px;
        height: 230px;
        border-radius: 15px;
    }
    .buttons img, .close img{
        gap: 150px;
        width: 50px;
        height: 50px;
    } 
}